
/* * * * * * * * * * * *\
 * Rock Paper Scissors *
 *                     *
 *  By: Dean Wagner    *
 *  me@deanwagner.net  *
 *                     *
 *   Assignment for:   *
 *  The Odin Project   *
 * theodinproject.com  *
\* * * * * * * * * * * */

:root {
    --base-font: Verdana, Geneva, Tahoma, sans-serif;
    --title-font: 'Comic Sans MS', 'Comic Sans', sans-serif;
}

* {
    box-sizing: border-box;
    cursor: default;
}

/* * * * * * * * *\
 * Element Base  *
\* * * * * * * * */

html, body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

body {
    background-attachment: fixed;
    background: rgb(128,128,128);
    background: radial-gradient(rgba(128,128,128,1), rgba(64,64,64,1)); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f4f4f4;
    font-family: var(--base-font);
    font-size: 2.5vmin;
    text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.8);
}

a, a * {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

a:link, a:visited {
    color:#fff;
    text-decoration: none;
    text-shadow: 0.1em 0.1em 0.2em #000;
}

a:hover, a:focus, a:active {
    color: #fff;
    text-decoration: underline;
    text-shadow: 0 0 0.3em #fff;
}

button {
    background-color: #f4f4f4;
    border: 1px solid rgba(64,64,64,1);
    border-radius: 0.5em;
    box-shadow: 0.3em 0.3em 0.5em rgba(0,0,0,0.8);
    color: rgba(64,64,64,1);
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin-top: 1em;
    max-width: 20em;
    padding: 0.3em 0;
    transition: all 0.3s ease-out;
    width: 100%;
}

button:hover,
button:focus,
button:active,
button:active {
    background-color: #fff;
    box-shadow: 0 0 1em #fff;
    text-shadow: 0 0 0.1em rgba(64,64,64,1);
    transform: scale(1.2);
}

h1 {
    color: #fff;
    font-family: var(--title-font);
    font-size: 4em;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        0.5rem 0.5rem 0.5rem rgba(0,0,0,0.7);
}

/* * * * * * * * *\
 *    Options    *
\* * * * * * * * */

#options, #selections, #scoreBoard {
    align-items: flex-end;
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 0 auto 1em;
}

#options a {
    font-family: var(--title-font);
    font-size: 1.3em;
    display: block;
    text-align: center;
    width: 8em;
}

#options a img {
    cursor: pointer;
    display: block;
    filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.7));
    height: auto;
    transition: all 0.3s ease-out;
    width: 100%;
}

#options a img:hover {
    filter: drop-shadow(1em 1em 0.6em rgba(0,0,0,0.5));
    transform: scale(1.2);
}

/* * * * * * * * *\
 *  Selections   *
\* * * * * * * * */

#selections {
    align-items: center;
    display: none;
    gap: 1em;
    text-align: center;
    width: 100%;
}

#selections > div {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #000;
    border-radius: 0.5em;
    box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.7);
    height: 8em;
    width: 7em;
}

#selections #userSelection,
#selections #compSelection {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: flex-end;
}

#selections #userSelection {
    margin-left: 1.8em;
}

#selections #compSelection {
    margin-right: 1.8em;
}

#selections img {
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.8));
    height: auto;
    margin: 0 auto;
    width: 7em;
}

#selections #userSelection div:last-child,
#selections #compSelection div:last-child {
    color: rgb(199, 199, 199);
    font-size: 0.7em;
    text-align: center;
    padding: 0.2em 0;
    text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,1);
}

#selections #roundResults {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    max-width: 40em;
    padding: 0 2em;
    width: 100%;
}

#selections #userStatus {
    font-family: var(--title-font);
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.2em;
    text-align: center;
}

#selections #roundInfo {
    text-align: center;
}

/* * * * * * * * *\
 *  Score Board  *
\* * * * * * * * */

#scoreBoard {
    align-items: center;
    gap: 1em;
    text-align: center;
    width: 100%;
}

#scoreBoard > div {
    align-items: stretch;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #000;
    border-radius: 0.5em;
    box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    height: 8em;
    justify-content: flex-start;
}

#scoreBoard #userBlock,
#scoreBoard #compBlock {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    width: 7em;
}

#scoreBoard #userBlock {
    margin-left: 1.8em;
}

#scoreBoard #compBlock {
    margin-right: 1.8em;
}

#scoreBoard #gameBlock {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    max-width: 40em;
    padding: 0 2em;
    width: 100%;
}

#scoreBoard #userScore,
#scoreBoard #compScore {
    color: #fff;
    font-family: var(--title-font);
    font-size: 6em;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0,0,0,1);
}

#scoreBoard #userBlock div:last-child,
#scoreBoard #compBlock div:last-child {
    color: rgb(199, 199, 199);
    font-size: 0.7em;
    text-align: center;
    padding: 0 0 0.2em;
    text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,1);
}

#scoreBoard #gameInfo {
    font-family: var(--title-font);
    font-size: 1.3em;
    font-weight: bold;
}

#scoreBoard #gameOver {
    display: none;
}

/* * * * * * * * *\
 *  Page Footer  *
\* * * * * * * * */

footer {
    bottom: 0;
    color: #c5c5c5;
    display: block;
    font-size: 0.6em;
    margin: 2rem 0 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

footer a:link,
footer a:visited {
    text-decoration: underline;
}

footer a:hover,
footer a:focus,
footer a:active {
    text-decoration: none;
}

footer .github-icon {
    filter: drop-shadow(0.1em 0.1em 0.1em #000);
    height: 1rem;
    vertical-align: bottom;
    width: 1rem;
}

footer .github-path {
    fill: #f4f4f4;
}
